<div class="content">
  <table border="1" style="border-collapse: collapse;">
    <tr><td style="padding: 10px;">Id</td>
      <td style="padding: 10px;">Name</td>
      <td style="padding: 10px;">Price</td>
      <td style="padding: 10px;">Chức năng</td>
    </tr>
    {{#each products}}
      <tr>
        <td style="padding: 10px;">{{_id}}</td>
        <td style="padding: 10px;">{{name}}</td>
        <td style="padding: 10px;">{{price}}</td>
        <td style="padding: 10px;">
          <form action="/delete/{{_id}}?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
          <a href="/edit/{{_id}}">Update</a>
        </td>
      </tr>
    {{/each}}
  </table>
  <button>Thêm</button>
</div>